---
export const prerender = true;
import Layout from "../layout/Layout.astro";
import Grid from "../assets/svg/grid.svg";
---

<Layout
	imgurl="https://neurotechh.live/preview.png"
	title="Blogs | Neurotechh"
	description="Blogs on everythig Tech and Tutorial on how to build cool stuff with code"
>
	<section
		class="h-[50vh] md:h-[90vh] mb-10 w-full max-w-7xl bg-text mx-auto rounded-2xl mt-[10vh] p-10 text-background relative flex flex-col justify-center items-start gap-10 overflow-hidden"
	>
		<h1 class="font-sans2 font-black text-brandred text-5xl md:6xl lg:text-9xl z-10">
			Neurotechh
		</h1>
		<h3 class="font-extrabold text-2xl md:3xl lg:text-4xl text-[#444] z-10">
			Community of <br /> Developers <span class="hidden md:inline-block"
				>|</span
			><br class="md:hidden" />
			<span class="text-brandpink"> Inovators</span><br
				class="md:hidden"
			/>
			<span class="hidden md:inline-block">|</span> Students<br
				class="md:hidden"
			/>
		</h3>
		<img
			src={Grid.src}
			class="absolute inset-0 z-0 w-full h-full md:h-fit opacity-30"
		/>
		<img
			src="https://hackclub.com/_next/image/?url=%2F_next%2Fstatic%2Fmedia%2Fouternet-110.c7a20868.jpg&w=3840&q=75"
			class="absolute -right-[10%] w-1/2 h-full md:h-fit rounded-2xl z-20"
		/>
		<img
			src="https://hackclub.com/_next/image/?url=%2F_next%2Fstatic%2Fmedia%2Fouternet-110.c7a20868.jpg&w=3840&q=75"
			class="absolute -top-1/3 -right-[15%] w-1/2 h-full md:h-fit rounded-2xl z-10"
		/>
		<img
			src="https://hackclub.com/_next/image/?url=%2F_next%2Fstatic%2Fmedia%2Fouternet-110.c7a20868.jpg&w=3840&q=75"
			class="absolute top-[55%] right-0 w-1/2 h-full md:h-fit rounded-2xl z-30"
		/>
		<!-- The above image is for example, use some personal Photo -->
	</section>
</Layout>
