---
import SpeedInsights from "@vercel/speed-insights/astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- Primary Meta Tags -->
		<title>Neurotechh</title>
		<meta name="title" content="Neurotechh" />
		<meta
			name="description"
			content="A Community of Developers | Innovators"
		/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://neurotechh.live/" />
		<meta property="og:title" content="Neurotechh" />
		<meta
			property="og:description"
			content="A Community of Developers | Innovators"
		/>
		<meta property="og:image" content="https://neurotechh.live/prev.png" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://neurotechh.live/" />
		<meta property="twitter:title" content="Neurotechh" />
		<meta
			property="twitter:description"
			content="A Community of Developers | Innovators"
		/>
		<meta
			property="twitter:image"
			content="https://neurotechh.live/prev.png"
		/>

		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<style>
			* {
				font-family: "Outfit", sans-serif;
			}
			.grad {
				background: linear-gradient(
						327.21deg,
						rgba(33, 0, 75, 0.24) 20.65%,
						rgba(60, 0, 136, 0) 50% /* Increased to 50% */
					),
					linear-gradient(
						245.93deg,
						rgba(209, 21, 111, 0.16) 20%,
						rgba(209, 25, 80, 0) 50% /* Increased to 50% */
					),
					linear-gradient(
						147.6deg,
						rgba(58, 19, 255, 0) 20% /* Increased to 20% */,
						rgba(98, 19, 255, 0.01) 90% /* Increased to 90% */
					),
					#11111181;

				/* background-position-x: 0%, 0%;
				background-position-y: 0%, 0%;
				background-repeat: repeat, repeat;
				background-size: auto, auto;
				background-size:
					150% 150%,
					150% 150%;
				background-position: bottom;
				background-repeat: no-repeat; */
			}
			.heroh1 {
				font-size: 58px;
				line-height: 60px;
				letter-spacing: -1.92px;
				font-weight: 500;
				margin-bottom: 24px;
				background: linear-gradient(
					to right,
					rgb(164, 21, 253),
					rgb(255, 63, 155)
				);
				background-clip: border-box;
				-webkit-background-clip: text;
				color: transparent;
				display: inline-block;
			}
			.heroh3 {
				font-size: 24px;
				line-height: 36px;
				letter-spacing: -0.96px;
				font-weight: 300;
				color: #fff;
			}
			.gradient {
				background: linear-gradient(100deg, #ff0066, #c661d1);
				background-size: 200% 100%; /* Double the width of the gradient */
				animation: ease-in-out 5s linear infinite; /* Adjust duration as needed */
			}

			@keyframes slide {
				0% {
					background-position: 0 0;
				}
				100% {
					background-position: -100% 0; /* Move the gradient to the right by 100% */
				}
			}
		</style>
	</head>
	<body
		class="min-h-screen min-w-screen bg-[#222] text-white overflow-hidden flex flex-col justify-center items-center gap-8 relative"
	>
		<SpeedInsights />
		<div
			class="absolute inset-0 w-screen h-screen sheesh grad"
			aria-hidden="true"
		>
		</div>
		<div
			class="absolute inset-0 w-screen h-screen -z-10 opacity-30 bg-black"
			aria-hidden="true"
		>
			<div style="opacity:1;transform:none">
				<!-- <img
					src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/IBM_Q_system_%28Fraunhofer_2%29.jpg/1280px-IBM_Q_system_%28Fraunhofer_2%29.jpg"
					class="max-w-2xl w-full h-full object-cover mx-auto hidden md:block"
				/> -->
			</div>
		</div>
		<div
			class="z-10 flex flex-col justify-center items-center gap-10 md:gap-8 text-center px-4 -mt-[10vh] md:-mt-[0vh]"
		>
			<span class="mx-auto">
				<h1 class="heroh1">N</h1>
				<h1 class="heroh1">eurotechh</h1>
			</span>
			<h3 class="heroh3">
				A <span class="gradient rounded p-1 font-medium mx-1"
					>Community</span
				> of Developers Comming Soon.
			</h3>
		</div>
	</body>
</html>
