---
import Layout from "../../layout/Layout.astro";
---

<Layout
	imgurl="https://neurotechh.live/preview.png"
	title="Blogs | Neurotechh"
	description="Blogs on everythig Tech and Tutorial on how to build cool stuff with code"
>
	<h1>Helo</h1>

	<style></style>
</Layout>
