---
import Layout from "../../layout/Layout.astro";
---

<Layout
	imgurl="https://neurotechh.live/preview.png"
	title="Blogs | Neurotechh"
	description="Blogs on everythig Tech and Tutorial on how to build cool stuff with code"
>
	<h1 class="text-4xl md:text-5xl lg:text-8xl font-medium 2xl:space-y-16">
		Category Name
	</h1>
	<p class="text-lg md:text-xl">
		Welcome to the world of "Category Name", where you'll find all the relatd blogs below!
	</p>
</Layout>
