---
import Layout from "../../layout/Layout.astro";
---

<Layout
	imgurl="https://neurotechh.live/preview.png"
	title="Blogs | Neurotechh"
	description="Blogs on everythig Tech and Tutorial on how to build cool stuff with code"
>
	<h1 class="text-4xl md:text-5xl lg:text-8xl font-medium 2xl:space-y-16">
		Neurotechh Blogs
	</h1>
	<p class="text-lg md:text-xl">
		What we have been upto, What we have learnt and Built, all dumped
		here, Enjoy!
	</p>
</Layout>
