---
import Layout from "../../layout/Layout.astro";
import Navbar from "../../components/navbar.astro";
---

<Layout
	imgurl="https://neurotechh.live/preview.png"
	title="Blogs | Neurotechh"
	description="Blogs on everythig Tech and Tutorial on how to build cool stuff with code"
>
	<Navbar /><br><br><br>
	<center><h1 class="text-5xl md:text-8xl font-black 2xl:space-y-16 font-sans2 mt-10" data-aos="fade-up" data-aos-once="true" data-aos-duration="800">
		<span class="text-brandred">Category</span> Name
	</h1><br>
	<p class="text-lg md:text-xl mt-3" data-aos="fade-up" data-aos-once="true" data-aos-duration="800" data-aos-delay="200">
		Welcome to the world of "Category Name"! Below you can find all our related blogs.
	</p><br><br>
	<div>
	<a class="inline-block mr-3 rounded border border-current px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring hover:text-red-400 focus:text-white" href="#">AI</a>
	<a class="inline-block mr-3 rounded border border-current px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring hover:text-red-400 focus:text-white" href="#">ML</a>
	<a class="inline-block mr-3 rounded border border-current px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring hover:text-red-400 focus:text-white " href="#">Web Dev</a>
	<a class="inline-block mr-3 rounded border border-current px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring hover:text-red-400 focus:text-white" href="#">Cybersec</a>
	<a class="inline-block mr-3 rounded border border-current px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring hover:text-red-400 focus:text-white " href="#">Cloud Computing</a>
	<a class="inline-block mr-3 rounded border border-current px-8 py-3 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring hover:text-red-400 focus:text-white" href="#">Networks</a>
	</div>
	</center><br><br>
	<hr class="my-6 border-t-2 border-gray-300 rounded-full">

	<div class="flex flex-wrap justify-center"> 
		<a href="#" class="group relative inline-block bg-black m-5 rounded border border-current transition duration-300 ease-in-out hover:border-red-400 transform hover:scale-105 h-120 w-80">
			<img alt="" src="https://images.unsplash.com/photo-1603871165848-0aa92c869fa1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
			<div class="relative p-4 sm:p-6 lg:p-8 h-full w-full">
				<p class="text-sm font-medium uppercase tracking-widest text-red-400">May 2, 2024<br>Yash Deshpande</p>
				<p class="text-xl font-bold text-white sm:text-2xl">The Case Against Self-Closing Tags in HTML</p>
				<div class="mt-5">
					<div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
						<p class="text-sm text-white">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit.
						</p>
					</div>
				</div>
			</div>
		</a>
		<a href="#" class="group relative inline-block bg-black m-5 rounded border border-current transition duration-300 ease-in-out hover:border-red-400 transform hover:scale-105 h-120 w-80">
			<img alt="" src="https://images.unsplash.com/photo-1603871165848-0aa92c869fa1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
			<div class="relative p-4 sm:p-6 lg:p-8 h-full w-full">
				<p class="text-sm font-medium uppercase tracking-widest text-red-400">May 3, 2024<br>Yash Deshpande</p>
				<p class="text-xl font-bold text-white sm:text-2xl">How to Use Apollo Client with Next.js 15</p>
				<div class="mt-10">
					<div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
						<p class="text-sm text-white">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit.
						</p>
					</div>
				</div>
			</div>
		</a>
		<a href="#" class="group relative inline-block bg-black m-5 rounded border border-current transition duration-300 ease-in-out hover:border-red-400 transform hover:scale-105 h-120 w-80">
			<img alt="" src="https://images.unsplash.com/photo-1603871165848-0aa92c869fa1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80" class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"/>
			<div class="relative p-4 sm:p-6 lg:p-8 h-full w-full">
				<p class="text-sm font-medium uppercase tracking-widest text-red-400">May 4, 2024<br>Yash Deshpande</p>
				<p class="text-xl font-bold text-white sm:text-2xl mb-10">Koi toh new blog</p>
				<div class="mt-10">
					<div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100">
						<p class="text-sm text-white">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit.
						</p>
					</div>
				</div>
			</div>
		</a>						
	</div>
</Layout>
