::root {
  --nav-height: 70px; /* You HAVE to give a default fallback value */
}

.topp {
  top: calc(var(--nav-height));
}
@font-face {
  font-family: "Incognito";
  src: url("/incognito_bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Incognito";
  src: url("/incognito_condensed.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Incognito";
  src: url("/incognito_medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Incognito";
  src: url("/incognito_regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --incognito: "Incognito", sans-serif;
}

.circle-left,
.circle-right {
  width: 600px;
  height: 600px;
  border: 0.15rem dashed #f1f1f1;
  opacity: 0.3;
  border-radius: 50%;
  position: fixed;
  z-index: -20;
  animation: spin 90s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.circle-left {
  top: -40%;
  left: -20%;
}

.circle-right {
  bottom: -40%;
  right: -20%;
}

.text-turnicate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 5s linear forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@media screen {
  html:not(.no-js) body [data-aos="fade-up"] {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
  }

  html:not(.no-js) body [data-aos="fade-down"] {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
  }

  html:not(.no-js) body [data-aos="fade-right"] {
    -webkit-transform: translate3d(-8px, 0, 0);
    transform: translate3d(-8px, 0, 0);
  }

  html:not(.no-js) body [data-aos="fade-left"] {
    -webkit-transform: translate3d(8px, 0, 0);
    transform: translate3d(8px, 0, 0);
  }

  html:not(.no-js) body [data-aos="fade-up-right"] {
    -webkit-transform: translate3d(-8px, 8px, 0);
    transform: translate3d(-8px, 8px, 0);
  }

  html:not(.no-js) body [data-aos="fade-up-left"] {
    -webkit-transform: translate3d(8px, 8px, 0);
    transform: translate3d(8px, 8px, 0);
  }

  html:not(.no-js) body [data-aos="fade-down-right"] {
    -webkit-transform: translate3d(-8px, -8px, 0);
    transform: translate3d(-8px, -8px, 0);
  }

  html:not(.no-js) body [data-aos="fade-down-left"] {
    -webkit-transform: translate3d(8px, -8px, 0);
    transform: translate3d(8px, -8px, 0);
  }

  html:not(.no-js) body [data-aos="zoom-in-up"] {
    -webkit-transform: translate3d(0, 8px, 0) scale(0.6);
    transform: translate3d(0, 8px, 0) scale(0.6);
  }

  html:not(.no-js) body [data-aos="zoom-in-down"] {
    -webkit-transform: translate3d(0, -8px, 0) scale(0.6);
    transform: translate3d(0, -8px, 0) scale(0.6);
  }

  html:not(.no-js) body [data-aos="zoom-in-right"] {
    -webkit-transform: translate3d(-8px, 0, 0) scale(0.6);
    transform: translate3d(-8px, 0, 0) scale(0.6);
  }

  html:not(.no-js) body [data-aos="zoom-in-left"] {
    -webkit-transform: translate3d(8px, 0, 0) scale(0.6);
    transform: translate3d(8px, 0, 0) scale(0.6);
  }

  html:not(.no-js) body [data-aos="zoom-out-up"] {
    -webkit-transform: translate3d(0, 8px, 0) scale(1.2);
    transform: translate3d(0, 8px, 0) scale(1.2);
  }

  html:not(.no-js) body [data-aos="zoom-out-down"] {
    -webkit-transform: translate3d(0, -8px, 0) scale(1.2);
    transform: translate3d(0, -8px, 0) scale(1.2);
  }

  html:not(.no-js) body [data-aos="zoom-out-right"] {
    -webkit-transform: translate3d(-8px, 0, 0) scale(1.2);
    transform: translate3d(-8px, 0, 0) scale(1.2);
  }

  html:not(.no-js) body [data-aos="zoom-out-left"] {
    -webkit-transform: translate3d(8px, 0, 0) scale(1.2);
    transform: translate3d(8px, 0, 0) scale(1.2);
  }
}
